article, aside, details, figcaption, figure, footer, header, hgroup, main, nav,
section, summary {
  display: block;
}

html, body {
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
body {
  min-height: 100%;
  background: #FFF;
  color: #444;
}

.wrapper {
  width: 100%;
  min-width: 800px;
  height: 100vh;
}

.clear {
  clear: both;
}


/* Middle -------------------------------------------------------------------*/
.middle {
  width: 100%;
  height: 100vh;
  position: relative;
}
.middle:after {
  display: table;
  clear: both;
  content: '';
}
.container {
  width: 100%;
  height: 100vh;
  float: left;
  overflow: hidden;
}
.content {
  height: 100vh;
  padding: 0 0 0 52px;
}

/* Left Sidebar -------------------------------------------------------------*/
.sidebar {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFF;
}

.show-sidebar {
  background: #5F2949;
  display: block;
  position: relative;
  border-radius: 3px;
  padding: 6px 7px;
  float: left;
  margin: 17px 5px 5px 5px;
  outline: none;
  color: #FFF;
}

.show-sidebar:hover {
  background-color: #814568;
}

.hide-sidebar {
  color: #A68CA6;
}

.hide-sidebar:hover {
  color: #FFF;
  background-color: #FFF;
  border-radius: 3px;
  padding: 0px 5px;
  color: #814568;
}

.show-sidebar:hover, .hide-sidebar:hover {
  cursor: pointer;
}

.sidebar-content {
  position: absolute;
  width: 282px;
  left: -282px;
  height: 100vh;
  color: #FFF;
  background-color: #814568;
  border-right: 1px solid #FFF;
  z-index: 2;

  -webkit-transition: left 0.3s ease-in-out;
  -moz-transition: left 0.3s ease-in-out;
  -ms-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}

.sidebar-content.visible {
  left: 0;
}

header {
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid #531C3C;
  background-color: #5F2949;
  color: #FFF;
}

header .main {
  float: left;
  width: 230px;
  padding: 0 5px;
}

header .controls {
  width: 42px;
  float: right;
  padding-top: 3px;
}

header h3 {
  font: bold 24px "Oswald", Helvetica, Arial, sans-serif;
}

header legend {
  font: italic 14px "Lato", Helvetica, Arial, sans-serif;
  margin: auto;
}

section {
  margin: 15px 0 25px 0;
  padding: 0 10px;
}

section > h5 {
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  line-height: 16px;
  color: #C5A2C5;
  font-size: 14px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}
section > h5 span {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  position: relative;
  padding: 0 10px;
  text-transform: lowercase;
}
section > h5 span:before,
section > h5 span:after {
  content: '';
  display: block;
  width: 282px;
  position: absolute;
  top: 0.7em;
  border-top: 1px solid #9E699E;
}
section > h5 span:before {
  right: 100%;
}
section > h5 span:after {
  left: 100%;
}

section.legend div.row {
  display: inline-block;
  width: auto;
  clear: both;
  font-size: 16px;
  padding: 0 20px;
  line-height: 18px;
}
section.legend div.col {
  float: left;
  display: table-column;
  cursor: default;
}
section.legend div.col.term {
  width: 70px;
  font-family: "Fira Sans", sans-serif;
}
section.legend div.state {
  display: inline-block;
  min-width: 40px;
  min-height: 12px;
  margin-bottom: -2px;
  border: 1px solid rgba(255, 255, 255, 0.45);
}

section.links {
  text-align: center;
}
section.links a {
  color: #C095C0;
  text-decoration: none;
  padding: 0 5px;
  outline: none;
}
section.links a:hover {
  color: #FFF;
}

section.updated-at {
  text-align: center;
  font-size: 14px;
}

section.updated-at a {
  color: inherit;
  outline: none;
  text-decoration: none;
}
section.updated-at a:hover {
  text-decoration: underline;
}

/* Diagram ----------------------------------------------------------------- */
main > div {
  position: relative;
}

main > div > svg {
  position: absolute;
  pointer-events: none;
}

.cell {
  border: solid 1px white;
  font: 14px "Fira Sans", sans-serif;
  overflow: hidden;
  position: absolute;
  text-align: center;
  display: table;
  z-index: 0;

  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;

  transition-property: height, width, top, left, background, color;
}
.cell.active {
  z-index: 1;
  box-shadow: 0 0 15px #000;
}
.cell:not(.container):hover {
  cursor: pointer;
}

.cell > span {
  display: table-cell;
  vertical-align: middle;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cell > span > .about {
  display: none;
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 23px;
}

.cell > span > .about:hover {
  color: #DDD;
  box-shadow: 0px 0px 12px #FFF;
  background-color: rgba(255, 255, 255, 0.15);
}

.link {
  stroke: #5F5F5F;
  stroke-opacity: .5;
  fill: none;
  display: none;
  z-index: 0;
}
.link.direct {
  stroke: #F00;
}

/* Project types ----------------------------------------------------------- */
.application {
  font-weight: bold;
  text-transform: uppercase;
}
.library {
  text-transform: lowercase;
}

/* Project states ---------------------------------------------------------- */
.ready {
  background: #95CF80;
  color: #0A2A0B;
}
.ready:not(.state):hover, .ready.active {
  background: #0A2A0B;
  color: #95CF80;
}
.ready.active {
  border-color: #0A2A0B;
}

.in-progress {
  background: #F3DA75;
  color: #5F2F15;
}
.in-progress:not(.state):hover, .in-progress.active {
  background: #752E07;
  color: #F3DA75;
}
.in-progress.active {
  border-color: #752E07;
}

.updating {
  background: #C69BF2;
  color: #350E31;
}
.updating:not(.state):hover, .updating.active {
  background: #350E31;
  color: #C69BF2;
}
.updating.active {
  border-color: #350E31;
}

.freezed {
  background: #B4C9F2;
  color: #111F35;
}
.freezed:not(.state):hover, .freezed.active {
  background: #111F35;
  color: #B4C9F2;
}
.freezed.active {
  border-color: #111F35;
}

.planned {
  background: #E0E0E0;
  color: #8F8F8F;
}
.planned:not(.state):hover, .planned.active {
  background: #333;
  color: #E0E0E0;
}
.planned.active {
  border-color: #333;
}

/* Popup ------------------------------------------------------------------- */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.white-popup h4 {
  border-bottom: 1px solid #CCC;
  margin: -5px -20px 20px;
  padding: 0px 20px 15px;
}
